<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishna</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=Newday%></h1>
    </div>
    <div class="box">
        <% for(var i=0; i<newList.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=newList[i]%></p>
            </div>
        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit">+</button>
        </form>
    </div>
</body>
<footer>Copyright 2021 Avish Tripathi</footer>
</html>